<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Release PIV Email</title>
  </head>
  <body style="margin:0; padding:0; font-family: Arial, Helvetica, sans-serif; color:#111827;">
    <div style="padding:24px;">
      <h2 style="margin:0 0 12px;">WRS Weekly Release {releaseThursdayYYYYMMDD} PIV Results - Approval Required</h2>
      <p style="margin:0 0 16px;">WRS release was successful on {releaseThursdayMMM_D_YYYY}. </p>
      <p style="margin:0 0 12px;">PIV has been completed successfully. Results are attached in this Jira: [link]</p>
      <p style="margin:0 0 12px;">Hi @Nicholas Koo @Candy Mok May I ask for approval on the PIVs for HK items?</p>
      <p style="margin:0 0 12px;">Hi @James Foo we would like to ask for signoff for SG PIV?</p>
      {ticketsTableHtml}
      <div style="margin-top:16px;">
      </div>
    </div>
  </body>
</html>
